.AnimatedCard{
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
}

.card-side {
    backface-visibility: hidden;
    border-radius: 2px;
    box-shadow: 0 1rem 1rem rgba(0,0,0, .15);
    width: 400px;
}

.card-side--back {
    position: absolute;
    width: 400px;
    top: 2rem;
    left: 0;
}

.card{
    width: 400px;
}
@media only screen and (max-width: 600px) {
    .card-side{
        width: 300px;
    }
    .AnimatedCard{
        width: 300px;
    }
    .card {
        width: 300px;
    }
  }